body {
  background-color: #212121;
  padding-top: 70px;
}

.custom-navbar {
  background-color: #222730;
}

.custom-card {
  background-color: #2e3440;
  color: #ffffff;
  border-radius: 15px;
  padding: 20px;
}

.custom-card a {
  color: #ffffff;
  /* Mantém o link branco */
}

.custom-card a:hover {
  text-decoration: underline;
}

.btn-success {
  background-color: #1c5d63;

  border: none;
}

.btn-success:hover {
  background-color: #144445;
}